alias l='ls --color=auto -lAhF'
alias grep='grep --color=auto'
alias x='exa -TFa --level=2 --color=always --color-scale'
alias dpsa='docker ps -a'
alias cs='clear'
alias sb='source ~/.bashrc'
alias cb='nano ~/.bashrc'
alias alert='notify-send --urgency=low -i "$([ $? = 0 ] && echo terminal || echo error)" "$(history|tail -n1|sed -e '\''s/^\s*[0-9]\+\s*//;s/[;&|]\s*alert$//'\'')"'
alias psg="ps aux | grep -v grep | grep -i -e VSZ -e"
